<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>register_v2</title>
        <link rel="stylesheet" href=/distcss/style-register_v2.css>

        <!-- 正式情况引入<#include "/common/header.shtml"/>并替换下面内容 -->
        <link rel="shortcut icon" href="${rc.contextPath}/favicon.ico" >

        <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?7c8734ee77b3d95015597f2aabc551b2";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </head>
    <body>
        <!-- end -->
        <% var text = '欢迎注册' %>
        <% include ./include/fn-header_v2.html %>
        <div data-url="/" class="banner"></div>
        <div class="wrapper">
            <div class="container">
                <form action="" class="form-container" method="post" novalidate="novalidate" id="register-form">
                    <p class="form-text">已有账号？<a href="/html/login_v2.html" class="login-link">立即登录</a></p>
                    <div class="form-row">
                        <i class="form-icon icon-tel"></i>
                        <input type="text" class="form-input" placeholder="输入手机号码" id="phone" name="phone">
                        <span class="error-msg"></span>
                    </div>
                    <div class="form-row">
                        <i class="form-icon icon-pwd"></i>
                        <input type="password" class="form-input" placeholder="请输入密码">
                        <span class="error-msg"></span>
                    </div>
                    <div class="form-row">
                        <i class="form-icon icon-vcode"></i>
                        <input type="text" class="form-input form-input--sm" placeholder="图形验证码">
                        <a href="#" class="verify-code fr">
                            <img src="https://www.fengniaojr.com/code.htm?timestamp=1476325160686" alt="verify-code" class="verify-code-img">
                        </a>
                        <span class="error-msg"></span>
                    </div>
                    <div class="form-row">
                        <i class="form-icon icon-msg"></i>
                        <input type="text" class="form-input form-input--sm" placeholder="短信验证码">
                        <a href="javascript:sendSMSCode();" class="sms-code fr">获取验证码</a>
                        <span class="error-msg"></span>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" class="form-checkbox" id="checkBox" checked>
                        <label for="checkBox" class="form-label checked">我已阅读并同意<a href="#" class="user-protocol-link">《用户服务协议》</a></label>
                    </div>
                    <div class="form-row">
                        <input type="submit" class="form-btn" value="立即注册">
                    </div>
                    <p class="fb-text"><i class="icon-xl-gray"></i>迅雷官方出品</p>
                </form>
            </div>
        </div>
        <% include ./include/user-protocol.html %>
        <% include ./include/fn-footer_v2.html %>
        <!-- 正式情况引入<#include "/common/include.shtml"/>并替换下面内容 -->
        <script src="/js/lib/jquery-1.10.2.min.js"></script>
        <script src="/js/lib/jquery.validate.min.js"></script>
        <script src="/js/lib/jquery.form.js"></script>
        <script src="/js/lib/additional_methods.js"></script>
        <script src="/js/lib/layer/layer.js"></script>
        <script type="text/javascript">
        var contextPath = "${rc.contextPath}";
        </script>
        <!-- end -->
        <script src=/js/register_v2.js></script>
    </body>
</html>
