<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/discss/style-test.css" media="screen" title="no title">
</head>
<body>
    <% include ./include/fn-header.html %>
    <% include ./include/fn-fixedbar.html %>
    <% include ./include/fn-footer.html %>

    <script src="/js/lib/jquery-1.10.2.min.js"></script>
    <script src="/js/lib/layer/layer.js"></script>
    <script src="/js/lib/fixedbar.js"></script>
</body>
</html>
