<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>tiyanbao</title>
<link rel="stylesheet" href="/css/style-tiyanbao.css">
</head>
<body>
<div class="wrapper">
    <div class="exp-gold-wrapper">
        <header class="activity-header">
            <a href="/" class="wrapper-logo"></a>
            <h3 class="wrapper-title">新手体验宝</h3>
            <p class="wrapper-des">迅雷蜂鸟金融为您准备的小礼物。通过新手体验宝，您将轻松体验投资流程、感受理财收益的喜悦。<br>过程中，您将不会支付任何费用。最重要的是，您还将获得最高80元现金收益，随时提现。</p>
        </header>
        <% include ./include/tyb-mainbox.html %>
        <section class="activity-rule">
            <dl class="rules">
                <dt class="rules-tt">新手体验宝规则说明</dt>
                <dd class="rules-item">
                    <span>1.</span> 新手体验宝是蜂鸟金融设立的一个专门提供给平台用户使用体验金进行投资体验的
                    <b>虚拟项目</b>。
                </dd>
                <dd class="rules-item">
                    <span>2.</span> 体验金是蜂鸟金融提供给平台用户的
                    <b>虚拟资金</b>，只能投资新手体验宝项目，使用后可产生利息收益。
                </dd>
                <dd class="rules-item">
                    <span>3.</span> 用户使用体验金投资项目（即体验宝）到期后，所得收益归用户所有（相应金额由蜂鸟金融赠予），可提现或用作投资；蜂鸟金融提供的原始体验金金额由平台收回。
                </dd>
                <dd class="rules-item">
                    <span>4.</span> 参与活动意味阅读并充分理解蜂鸟金融关于“体验金”及“新手体验宝”所作出的全部说明，同意“体验金”及“新手体验宝”的相关活动规则解释权归蜂鸟金融所有。
                </dd>
                <dd class="rules-item">
                    任何疑问，可联系400-100-7497，或加入官方客服QQ群：577068173。
                </dd>
            </dl>
        </section>
    </div>
    <% include ./include/tyb-newuser-quiz.html %>
    <% include ./include/tyb-footer.html %>
</div>

<script src="/js/lib/jquery-1.10.2.min.js"></script>
<script src="/js/tiyanbao.js"></script>
</body>
