.exp-footer {
    width: 1170px;
    margin: 0 auto;

    .ft-top {
        width: 460px;
        margin: 0 auto 24px;
        font-size: 18px;
        color: #999;
        line-height: 36px;
        .icon-xl{
            float: left;
            margin-right: 10px;
            background-image: url("../slice/tiyanbao/xl_logo.png");
        }
    }

    .ft-bottom {
        border-top: 1px #d9d9d9 dashed;
    }
}

.ft-links {
    width: 624px;
    margin: 0 auto;
    padding: 40px 0 20px;

    .links-item {
        float: left;
        padding: 0 24px;
        border-right: 1px #333 solid;
        line-height: 1;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: 0;
        }

        a {
            font-size: 14px;
            color: #333;
            line-height: 1;
        }
    }
}

.copyright {
    text-align: center;
    padding-bottom: 40px;

    a {
        color: #333;
    }
}
