.slotMachine-container {
    width: 444px;
    height: 100px;
    margin: 29px auto 14px;
    background: url(../images/tiyanbao/comma.png) no-repeat center bottom;
    .slotMachine {
        float: left;
        width: 64px;
        height: 100px;
        border: 1px solid #b82f2a;
        margin-left: 6px;
        background: url(../images/tiyanbao/slot-bg.png) no-repeat center;
        overflow: hidden;
        &.third-machine {
            margin-left: 36px;
        }
        &:first-child{
            margin-left: 0;
        }
        .slot {
            display: inline-block;
            width: 64px;
            height: 100px;
            color: #fff;
            font-size: 60px;
            font-weight: bold;
            font-family: 'Arial';
            line-height: 100px;
        }
    }
}
.stop-btn {
    display: inline-block;
    margin-top: 36px;
    background-image: url(../slice/tiyanbao/stop_btn.png);
    &:hover{
        background-image: url(../slice/tiyanbao/stop_btn_hover.png);
    }
}
.slot-checkbox {
    display: block;
    position: relative;
    margin-top: 30px;
    &:before {
        position: absolute;
        left: 59px;
        top: 4px;
        content: '';
        width: 11px;
        height: 11px;
        border: 1px solid #ed4542;
        border-radius: 3px;
    }
    &.checked:before{
        background-image: url(../slice/tiyanbao/checkbox.png);
    }
    .ipt-hide {
        visibility: hidden;
        position: absolute;
        top: 4px;
    }
    .checkbox {
        color: #333;
        padding-left: 20px;
    }
}
