.question-wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 14px 78px;
  .question-header {
    font-size: 30px;
    color: #666;
    line-height: 112px;
  }
  .question-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    &:last-child{
        margin-bottom: 0;
    }
    .question-item{
        position: relative;
        width: 362px;
        height: 190px;
        padding: 0 27px;
        color: #fff;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          background-image: url("../images/tiyanbao/image_mask.png");
          background-repeat: no-repeat;
          width: 362px;
          height: 190px;
          top: 0;
          left: 0;
          z-index: 1;
        }
        &:hover {
            .question-img {
                transform: scale(1.2, 1.2);
            }
        }
        .question-img {
            position: absolute;
            z-index: 0;
            width: 362px;
            height: 190px;
            top: 0;
            left: 0;
            transform: scale(1, 1);
            transform-origin: center center;
            transition: transform .8s ease-out;
        }
        .question-tt{
            position: relative;
            z-index: 2;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            margin-top: 8px;
            @extend %ellipsis;
        }
        .question-text {
          position: relative;
          z-index: 2;
          height: 22px;
          text-align: center;
          @extend %ellipsis;
        }
    }
  }
}
