/* 引入库文件 */
@import "./lib/lib-variables";
@import "./lib/lib-mixin";
@import "./lib/lib-media";
@import "./lib/lib-reset";
@import "./lib/lib-help";

/* 模块样式 */
@import "./mod-fn-header.scss";
@import "./mod-fn-fixedbar.scss";
@import "./mod-fn-footer.scss";

@include b(block) {
   background: red;
   @include e(header){
       font-size: 14px;

       @include m(css) {
           font-size: 18px;
       }
   };
}
