<section class="activity-content clear">
    <% var isLogin=false,isOldUser=true,isParticipate=true;
            if(!isLogin || (!isOldUser&&!isParticipate)) { %>
    <section class="exp-box left">
        <h3 class="box-tt tt01">领取最高10万体验金</h3>
        <div class="box-container">
            <!-- 抽奖界面 -->
            <div class="box-content box-slot">
                <h3 class="content-hd text-red">我的体验金</h3>
                <span class="info-ra">蜂鸟提供的投资资金，收益全归您所有</span>
                <% include ./tyb-slot.html %>
            </div>
            <!-- 登录注册界面 -->
            <div class="box-content box-form hide">
                <h3 class="content-hd text-red">我的体验金</h3>
                <span class="info-ra">蜂鸟提供的投资资金，收益全归您所有</span>
                <div class="exp-gold-result">
                    <p>哇！恭喜获得体验金</p>
                    <p><span class="amount">4,000</span>元</p>
                </div>
                <p class="exp-gold-des">放入体验宝后免费获得<span class="text-red">0</span>元现金收益！</p>
                <% include ./tyb-form.html %>
            </div>
        </div>
    </section>
    <% } %>
    <% if(isLogin &&　isOldUser) {%>
    <!-- 老用户不能参与活动 -->
    <section class="exp-box left">
        <h3 class="box-tt tt01">领取最高10万体验金</h3>
        <div class="box-container">
            <div class="box-content">
                <h3 class="content-hd text-red">我的体验金</h3>
                <span class="info-ra">蜂鸟提供的投资资金，收益全归您所有</span>
                <p class="withdout-qualification">
                    抱歉，您暂不能参与<br>
                    活动仅供新用户体验之用，敬请谅解
                </p>
            </div>
        </div>
    </section>
    <% } %>
    <% if(!isOldUser && isParticipate) {%>
    <!-- 显示已领取界面 -->
    <section class="exp-box left">
        <h3 class="box-tt tt01">领取最高10万体验金</h3>
        <div class="box-container">
            <div class="box-content">
                <h3 class="content-hd text-red">我的体验金</h3>
                <span class="info-ra">蜂鸟提供的投资资金，收益全归您所有</span>
                <div class="exp-gold-result">
                    <p>哇！恭喜获得体验金</p>
                    <p><span class="amount">4,000</span>元</p>
                </div>
                <p class="exp-gold-des">放入体验宝后免费获得<span class="text-red">0</span>元现金收益！</p>
                <a href="javascript:;" class="withdraw-btn">立即领取</a>
            </div>
        </div>
    </section>
    <% }%>
    <section class="exp-box right">
        <h3 class="box-tt tt02">把体验金投进体验宝</h3>
        <div class="box-container">
            <div class="box-content">
                <h3 class="content-hd">新手体验宝<span class="pvip"></span></h3>
                <span class="info-ra">把资金投进来，它将为您赚得收益</span>
                <div class="init-box">
                    <p class="year-rate">10<span class="percent">%</span></p>
                    <p class="rate-text">年化收益率</p>
                    <span class="info-ra">送3天迅雷会员</span>
                    <ul class="info-list">
                        <li>
                            <p class="num">10<span class="unit">万</span></p>
                            <p class="des">最高投资金额</p>
                        </li>
                        <li class="list-mid">
                            <p class="num">80<span class="unit">元</span><span class="icon">可提现</span></p>
                            <p class="des">最高投资收益</p>
                        </li>
                        <li>
                            <p class="num">3<span class="unit">天</span></p>
                            <p class="des">投资期限</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mid-shadow"></section>
    <section class="mid-arrow"></section>
</section>
