.footer {
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    p {
        font-size: 20px;
        line-height: 1.5;
        color: #b3b3b3;
        a{
            color: #b3b3b3;
        }
        img{
            width: 1.6rem;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
