/* 引入库文件 */
@import "../lib/lib-variables";
@import "../lib/lib-mixin";
@import "../lib/lib-media";
@import "../lib/lib-reset";
@import "../lib/lib-help";

@import "./mod-fund-table";
@import "./mod-fund-footer";

body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
